@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slideIn {
  animation: slideIn 0.2s ease-out;
}

.slideOut {
  animation: slideOut 0.2s ease-out forwards; /* forwards сохраняет конечное состояние анимации */
}